@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Developers</h3>

<address>
    Brittaney Lupo<br />
    m: <br />
    e: 
</address>

<address>
    Chris Zitting<br />
    m: (256) 434-1584<br />
    e: czitting@byui.edu
</address>