@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Developers</h3>

<address>
    Brittaney Lupo<br />
                  <a target="_blank" href="http://brittaneylupo.com/">http://brittaneylupo.com/</a>

</address>

<address>
    Chris Zitting<br />
<a target="_blank" href="https://www.chriszitting.com/">https://www.chriszitting.com/</a>
</address>