@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        
        <img src="~/images/sacrament2.jpg" class="img-responsive" alt="Christus"/>
        
    </div>
    
</div>
<h1>Sacrament Meeting Planner</h1>
<p>View, edit and plan weekly talks, topic, prayers and songs. <a asp-area="" asp-controller="Meetings" asp-action="Index">View meeting list.</a></p>